body, html {
  height: 100%;
  background-image: linear-gradient(-45deg, sandybrown, cornflowerblue);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: gainsboro;
  font-family: 'Merriweather', Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.app-name-text {
  font-weight: 700;
  font-size: 1.4em;
  color: darkslateblue;
}

.app-body {
  padding: 8%;
  text-align: left;
  font-size: 1.2em;
}

.app-image {
  border-radius: 50% 50%;
  width: 100%;
}


header {
  font-family: 'Roboto', Times, serif;
  padding: 2%;
  font-weight: 900;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: darkslateblue;
}

